body{ 
    background-color: orange;
    color: white;
    font-family: "Moderustic", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    color: white;
    background-color: rgb(151, 52, 52);
}

.passo{
    display: none;
}

.passo.ativo{

    display: block;
}